.field {
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-left: 10px;
    margin-bottom: 2px;
}

.field-name {
    width: 150px;
}

.field-isMasked {
    width: 75px;
}

.field-isEncrypted {
    width: 75px;
}
